*{
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
}
#container{
    width: 800px;
    height: 800px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box {
    width: 33.33%;
    height: 33.33%;
    background-color: blue;
}